<!DOCTYPE html>
<html lang="ru">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Гейм-Модель</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/app/public/css/html5reset.css">
  <link rel="stylesheet" href="/app/public/css/normalize.css">
  <link rel="stylesheet" href="/app/public/css/skeleton.css">
  <link rel="stylesheet/less" type="text/css" href="/app/public/css/style.less" />

  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" src="/app/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/app/public/js/less.min.js"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/app/public/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="main-navbar">
      <ul>
          <li class="project-name">logo</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
      </ul>
  </div>
  <div class="main-content">
      <div class="container">
          <div class="row">
              <div class="column twelve">
                <div class="test">1</div>
              </div>
          </div>
      </div>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
